<div class="assignment1">
  <div class="alert alert-info">Follow the steps:</div>
  <ul class="list-group">
    <li class="list-group-item">Create an input of type "text"</li>
    <li class="list-group-item">Attach a template reference variable to the input</li>
    <li class="list-group-item">Attach an "input" event passing in the value of textbox to the handler</li>
    <li class="list-group-item">Create handler in the component's class</li>
    <li class="list-group-item">Display the result on the page via string interpolation</li>
  </ul>
  <div class="container your-code">
    <div class="card border-success mb-3">
      <div class="card-header bg-transparent border-success text-center">Input Event Handler</div>
      <div class="card-body text-success">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter Your Input here" #myInput
            (input)="onInputProvided(myInput.value)">
        </div>
        <div class="form-group" *ngIf = "userInput && userInput.length > 0;else noUserInput">
          <p>Entered Input : {{userInput}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noUserInput>
  <p>Entered Input : No Input Entered By User</p>
</ng-template>